*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --container-width: 1200px;
}

body {
    min-height: 100vh;
    padding: 100px 15px;
    font-family: Open sans;
}

.counter.--true {
    background-color: red;
    color: #fff;
}

.container {
    max-width: var(--container-width);
    padding: 0 15px;
    margin: 0 auto;
}

.bucket__container {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.bucket__button--link {
    display: inline-block;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: #fff;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.bucket__button--link:hover {
    transform: scale(1.05);
}

.bucket__button--inner {
    position: relative;
}

.bucket__button--count {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background-color: #ff3b30;
    color: white;
    padding: 3px;
    text-align: center;
    min-width: 25px;
}

.bucket {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    z-index: 1;
    background-color: #fff;
    height: auto;
    width: calc(var(--container-width) - 30px);
    max-width: 100vw;
    right: 0;
    box-shadow: 0 15px 50px rgba(0,0,0,.25);
}

.bucket .product_item-inner {
    align-items: center;
}

.bucket.hidden {
    display: none;
}

.bucket-wrapper {
    position: relative;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    column-gap: 30px;
    row-gap: 10px;
}

.filters> :last-child {
    grid-column: span 2;
}

select,
input {
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    padding: 5px 10px;
}

label {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.price-filter__min-price,
.price-filter__max-price {
    width: 100%;
    height: 100%;
}

.price-filter {
    display: inline-block;
}

.search-wrapper {
    display: flex;
    gap: 30px;
}

.item-search {
    flex-grow: 1;
}

.reset-filters {
    border-radius: 5px;
    border: 0.5px solid #C5C5C5;
    padding: 0 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.reset-filters:hover {
    background-color: lightgray;
    border-color: #000;
}


.products_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    --columns: 3;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns))));
    gap: var(--gap);
}

.product_item {
    display: none;
    container-type: inline-size;
}

.product_item--wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 0.5px solid #C5C5C5;
    overflow: hidden;
    flex: 1;
}

@container (min-width: 700px) {
    .product_item--wrapper {
        display: grid;
        grid-template-columns: 150px 250px 1fr 150px;
        /* flex-direction: row;
        align-items: center; */
        gap: 40px;
    }

    .product_item--title,
    .product_item--descr {
        display: flex;
        align-items: center;
    }

    .product_item--descr {
        flex-grow: 1;
    }

    .product_item-inner {
        margin-top: 0;
        justify-content: flex-start;
        gap: 30px;
    }

    .product_item--top-wrapper {
        justify-content: center !important;
    }

    .product_item--descr {
        display: flex !important;
    }
}

.product_item.visible {
    display: flex;
}

.product_item--top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.products_wrapper.list .product_item--top-wrapper {
    gap: 20px;
}

.product_item--cat {
    text-decoration: underline;
    font-size: 12px;
    color: #000;
    transition: color 0.3s ease;
}

.product_item--cat:hover {
    color: #e32b2b;
}

.product_item--title {
    font-size: 14px;
}

.product_item--descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 12px;
    color: #646161;
}

.product_item-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
}

.product_item__price-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.products_wrapper.list .product_item__price {
    justify-content: center;
}

.product_item__price-old {
    text-decoration: line-through;
    font-size: 14px;
}

.product_item__price.--sale {
    color: #e32b2b;
    font-size: 20px;
    font-weight: 700;
}

.product_item.--underprice,
.product_item.--overprice {
    display: none;
}

.product_item--button {
    border-radius: 0;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid #606060;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.product_item--button:hover {
    background-color: lightgray;
    border-color: #000;
}

.product_item.--search-hide {
    display: none;
}

.product-value {
    max-width: 100%;
}

.load-more {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #606060;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.load-more:hover {
    background-color: lightgray;
    border-color: #000;
}

.loader-more__text {
    display: inline-block;
}

/* HTML: <div class="loader"></div> */
.loading {
    display: none;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #ffa516 94%, #0000) top/3px 3px no-repeat,
        conic-gradient(#0000 30%, #ffa516);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}

.load-more.show-loader {
    border-color: transparent;
    gap: 0;
    pointer-events: none;
}

.load-more.show-loader .loading {
    display: block;
}

.load-more.show-loader .loader-more__text {
    display: none;
}

.load-more.loaded {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease, height 0.3s ease;
}
