*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    padding: 100px 15px;
    font-family: Open sans;
}

.counter.--true {
    background-color: red;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.filters {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 30px;
}

.filters > :last-child {
    grid-column: span 2;
}

select, 
input {
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    padding: 5px 10px;
}

label {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.price-filter__min-price,
.price-filter__max-price {
    width: 130px;
    height: 100%;
}

.price-filter {
    display: inline-block;
}

.search-wrapper {
    display: flex;
    gap: 10px;
}

.item-search {
    flex-grow: 1;
}

.reset-filters {
    border-radius: 5px;
    border: 0.5px solid #C5C5C5;
    padding: 0 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.reset-filters:hover {
    background-color: lightgray;
    border-color: #000;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 30px;
}

.products_wrapper.grid3 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.products_wrapper.list {
    grid-template-columns: 1fr;
}

.products_wrapper.list .product_item {
    display: grid;
    grid-template-columns: 150px max-content max-content 1fr max-content;
}

.products_wrapper.list .product_item--thumbnail {
    max-width: 150px;
}

.products_wrapper.list .product_item--title {
    min-width: 250px;
}

.products_wrapper.list .product_item--title,
.products_wrapper.list .product_item--descr {
    display: flex;
    align-items: center;
}

.products_wrapper.list .product_item-inner {
    margin-top: 0;
}

.product_item {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 0.5px solid #C5C5C5;
    overflow: hidden; 
}

.product_item.visible {
    display: flex;
}

.product_item--thumbnail {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.product_item--cat {
    text-decoration: underline;
    font-size: 12px;
    color: #000;
    transition: color 0.3s ease;
}

.product_item--cat:hover {
    color: #e32b2b;
}

.product_item--title {
    font-size: 14px;
}

.product_item--descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 12px;
    color: #646161;
}

.product_item-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
}

.product_item__price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product_item__price-old {
    text-decoration: line-through;
    font-size: 14px;
}

.product_item__price-sale {
    color: #e32b2b;
    font-size: 20px;
    font-weight: 700;
}

.product_item.--underprice,
.product_item.--overprice {
    display: none;
}

.product_item--button {
    border-radius: 0;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 5px;
    border: 0.5px solid #606060;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.product_item--button:hover {
    background-color: lightgray;
    border-color: #000;
}

.product_item.--search-hide {
    display: none;
}

